<footer class="footer mt-5 bg-dark pt-3">
    <div class="container ">
        <div class="row">
            <div class="col-md-3">
                <h5 style="color: aqua;">Đối tác</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Đối tác PHIẾN</a></li>
                    <li><a href="#">Đối tác TÙNG</a></li>
                    <li><a href="#">Đối tác TÙNG - PHIẾN</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: aqua;">Nhà tài trợ</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Nhà tài trợ PHIẾN</a></li>
                    <li><a href="#">Nhà tài trợ TÙNG</a></li>
                    <li><a href="#">Nhà tài trợ PHIẾN - TÙNG</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: aqua;">Đội ngũ phát triển</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Thành viên 1</a></li>
                    <li><a href="#">Thành viên 2</a></li>
                    <li><a href="#">Thành viên 3</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: aqua;">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Email: tungphien@gmail.com</a></li>
                    <li><a href="#">Điện thoại: 0123456789</a></li>
                    <li><a href="#">Địa chỉ: 123 Đường ABC, Thành phố XYZ</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright">© 2023 Bản quyền thuộc về TUNGPHIEN COMPANY</p>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- DataTables.net -->
<script src="https://cdn.datatables.net/v/bs4/dt-2.1.6/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("table").DataTable({
            order: [0, 'desc']
        });
    });
</script>

</body>

</html>